:root {

--background: #fefffc;
--background-cards- : #8E9BAF;
--background-button:#2A374F;
--background-button-hover:#4192D9;
--letter-white:#fefffc;
--letter-black: black;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.nunito{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: var(--background);
    font-family: "nunito", Arial, Helvetica, sans-serif;
}

.articulos{
    width: 80%;
    max-width: 1400px;
    margin: 40px auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px;
}

.card{
    background-color: var(--background-cards);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0,0,0,.2);
    transition: .3s ease;
}

.card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card h2{
    color: var(--letter-white);
    font-size: 1.4rem;
    margin: 30px;
}

.card p{
    color: var(--letter-white);
    margin: 0 30px 40px;
    text-align: justify;
    line-height: 1.5;
    flex-grow: 1;
}

.boton {
    display: block;
    margin: 0 20px 20px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: var(--background-button);
    color: var(--letter-white);
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

.boton:hover{
    background-color: var(--background-button-hover);
}